# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/
build/
dist/

# turbo
.turbo/

# env
.env
.env.local
.env.*.local
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# os
.DS_Store
Thumbs.db
